# Security Policy

## Supported versions

Only the latest release receives security fixes.

## Reporting a vulnerability

Do not open a public issue.
{% if author_email -%}
Email {{ author_email }} with details and, if possible, steps to reproduce.
{%- else -%}
Use [GitHub private vulnerability reporting]({{ repo_url }}/security/advisories/new)
to report privately.
{%- endif %}

You should get an acknowledgement within a few business days.
