
[project.urls]
Repository = "https://github.com/{{ options.github.organisation }}/{{ project.repository_name }}"
Issues = "https://github.com/{{ options.github.organisation }}/{{ project.repository_name }}/issues"
