
## GitHub security advisories

Report privately through
[GitHub's private vulnerability reporting](https://github.com/{{ options.github.organisation }}/{{ project.repository_name }}/security/advisories/new).
